html, body
{
    width: 100%;
    height: 100%;
}

body
{
    margin: 0;
}

.map
{
    width: 100%;
    height: 100%;
    position: absolute;
}

.sidebar
{
    margin-left: -100px;
	top: 0;
    height: 100%;
    position: absolute;
    transition: margin-left 2s;
}

.sidebar-bg
{
	max-height: 100%;
}

.sidebar-contents
{
	left: 0;
	top: 0;
	width: 76.84729064%;
	height: 100%;
	position: absolute;
	overflow-y: scroll;
}

.sidebar-logo
{
	width: 100%;
}

.sidebar-option
{
	padding-top: 3.5%;
	padding-bottom: 1.5%;
	width: 100%;
	position: relative;
}

.sidebar-option img
{
	width: 100%;
	position: relative;
}

.sidebar-option span
{
	top: 0;
	left: 10%;
	padding-top: 3.5%;
	padding-bottom: 1.5%;
	font-family: "Poppins", sans-serif;
	color: white;
	font-size: 24px;
	position: absolute;
}

.sublist
{
	width: 100%;
	height: 0;
	overflow: hidden;
	transition: height 0.2s ease-out;
}

.sublist-option:before
{
	content: url("../img/kwadracik.png");
	padding-left: 5%;
	padding-right: 5%;
}

.sublist-option
{
	font-family: "Poppins", sans-serif;
	color: #FF3131;
	font-size: 18px;
}

.mainlogo
{
	width: 100%;
	height: 100%;


}

.mainlogo img
{
	height: 30%;
	position: relative;
}

.addpanel
{
	width: 100%;
	height: 100%;
	position: absolute;
	right: -1100px;
	margin-top: -675px;
	transition: margin-top 1s;
}

.addpanel img
{
	height: 25%;
}

::-webkit-scrollbar
{
	display: none;
}